@font-face {
	font-family: 'Garamond-Premier-Pro-Italic';
	src: url('../fonts/Garamond-Premier-Pro-Italic.eot');
	src: local('☺'), url('../fonts/Garamond-Premier-Pro-Italic.woff') format('woff'), url('../fonts/Garamond-Premier-Pro-Italic.ttf') format('truetype'), url('../fonts/Garamond-Premier-Pro-Italic.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'PF Din Text Comp Pro-Thin';
	src: url('../fonts/PFDinTextCompPro-Thin.eot');
	src: local('☺'), url('../fonts/PFDinTextCompPro-Thin.woff') format('woff'), url('../fonts/PFDinTextCompPro-Thin.ttf') format('truetype'), url('../fonts/PFDinTextCompPro-Thin.svg') format('svg');
	font-weight: thin;
	font-style: normal;
}

@font-face {
	font-family: 'PF Din Text Comp Pro-normal';
	src: url('../fonts/pf-din-regular.eot');
	src: local('☺'), url('../fonts/pf-din-regular.woff') format('woff'), url('../fonts/pf-din-regular.ttf') format('truetype'), url('../fonts/pf-din-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html{
  	box-sizing: border-box;
  	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
}

.wrapper{
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

/* Header start */

.header{
	width: 100%;
}

.header__container{
	width: 100%;
	height: 100%;
	background-image: url(../images/map_bg.png);
	background-position: center top;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
}

.hrader__menu{
	padding-top: 61.5%;
}

.header__menu__container{
	position: absolute;
	left: 50%;
	top: 87%;
	transform: translateX(-50%);
	width: 316px; 	
}

.hrader__menu-items{
	display: flex;
	justify-content: space-between;
}

.header__menu-link{
	font-family: 'PF Din Text Comp Pro-normal';
	font-size: 16px;
	line-height: 19px;
	transition: linear 200ms;
}

.header__menu-link-active{
	text-transform: uppercase;
	color: #E94E67;
	border-bottom: 1px solid #E94E67;
	padding-bottom: 5px;
}

.header__menu-link:hover{
	color: #E94E67;
}

.header__svg-top{
	position: absolute;
	top: 0%;
	right: .3%;
}

.header__top-text{
	position: absolute;
	top: 13.5%;
	right: 13%;
	color: #fff;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 1px;
	z-index: 2;
}

.header__svg-top-link{
	opacity: 0;
}

.header__svg-top-link:hover{
	opacity: 1;
}

.header__svg-center{
	position: absolute;
	top: 41.5%;
	right: 29%;
}

.header__center-text{
	position: absolute;
	top: 51.5%;
	right:30.5%;
	color: #fff;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 1px;
	z-index: 2;
}

.header__svg-center-link{
	opacity: 0;
}

.header__svg-center-link:hover{
	opacity: 1;
}

.header__svg-bottom{
	position: absolute;
	left: 17.95%;
	bottom: 17.9%;
}

.header__bottom-text{
	position: absolute;
	top: 66%;
	left: 27.5%;
	color: #fff;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 1px;
	z-index: 2;
}

.header__svg-bottom-link{
	opacity: 0;
}

.header__svg-bottom-link:hover{
	opacity: 1;
}

/* Header end */


/* Content start */

.content__text__container{
	max-width: 1060px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 65px;
}

.content__text__title{
	font-family: 'PF Din Text Comp Pro-Thin';
	font-size: 34px;
	line-height: 49px;
	padding-bottom: 30px;
}

.content__text__caption{
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
	padding-bottom: 30px;
}

.content__text__link{
	color: #E94E67;
	font-family: 'Garamond-Premier-Pro-Italic';
	font-size: 24px;
	line-height: 29px;
	display: inline-block;
	position: relative;
}

.content__text__link::after{
	content: '';
	position: absolute;
	top: 50%;
	right: -25px;
	transform: translateY(-40%);
	background: url(/images/icon/arrow_red.svg) center center / 80% no-repeat;
	width: 20px;
	height: 20px;
}

.technologies{
	text-align: center;
}

.technologies__wrapper{
	max-width: 1290px;
	width: 100%;
	margin: 0 auto;
}

.technologies__title{
	font-family: 'PF Din Text Comp Pro-Thin';
	font-size: 34px;
	line-height: 49px;
	padding-bottom: 30px;
}

.technologies__cards{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.technologies__card{
	width: 200px;
	padding-bottom: 60px;
}

.technologies__card-img{
	margin: 0 auto;
	padding-bottom: 15px;
}

.technologies__card-text{
	width: 150px;
	margin: 0 auto;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
}

/* Additional menu start */

.additional__menu{
	background-color: #F3F3F3;
	height: 320px;
	margin-bottom: 50px;
}

.additional__menu_container{
	display: flex;
	justify-content: space-around;
	padding: 60px 0 70px 0;
}

.additional__menu-item{
	text-align: center;
}

.additional__menu-title{
	font-family: 'PF Din Text Comp Pro-Thin';
	font-size: 34px;
	line-height: 46px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.additional__menu_slider_container{
	display: flex;
	justify-content: space-around;
	padding: 60px 0 70px 0;
}

.slick-arrow{
	border: none;
	background: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 3;
	outline: none;
}

.slick-arrow.slick-prev{
	background: url(../images/icon/arrow_prew.svg) center center / 90% no-repeat;
	font-size: 0;
	border: none;
	background-color: none;
	width: 20px;
	height: 20px;
}

.slick-arrow.slick-next{
	background: url(../images/icon/arrow_next.svg) center center / 90% no-repeat;
	font-size: 0;
	border: none;
	background-color: none;
	width: 20px;
	height: 20px;
}

.container__slider{
	display: none;
}

/* Additional menu end */


/* Footer start */

.footer__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

.footer__menu-items{
	width: 350px;
	display: flex;
	justify-content: space-between;
}

.footer__menu__hidden{
	opacity: 0;
}

.footer__menu-link{
	font-family: 'PF Din Text Comp Pro-normal';
	color: #B4B4B4;
	transition: linear 300ms;
	letter-spacing: 1.5px; 
	transition: linear 200ms; 
}

.footer__menu-link-active{
	color: #000;
	padding-bottom: 5px;
	border-bottom: 1px solid #000;
	text-transform: uppercase;
}

.footer__menu-link:hover{
	color: #000;
}
/* Footer end */


/* Content end */

@media (max-width: 1439px){
	.content__text__container{
		margin-bottom: 30px;
	}
	
	.content__text__title{
		line-height: 40px;
		padding-bottom: 20px;
	}

	.content__text__caption{
		padding-bottom: 20px;
	}

	.additional__menu-title{
		font-size: 30px;
	}
}

@media (max-width: 1024px){
	.content__text__container{
		margin-bottom: 20px;
	}
	
	.content__text__title{
		line-height: 40px;
		padding-bottom: 20px;
	}

	.content__text__caption{
		padding-bottom: 20px;
	}

	.additional__menu-title{
		font-size: 27px;
	}

	.additional__menu_container{
		display: none;
	}

	.container__slider{
		display: block;
	}

	.additional__menu_slider_container{
		padding: 30px 0 10px 0;
	}

	.additional__menu-img{
		width: 55%;
		margin: 0 auto;
	}

	.additional__menu_slider_container > .slick-arrow.slick-prev{
		background: url(../images/icon/arrow__black_prev.svg) center center / 90% no-repeat;
		width: 30px;
		height: 60px;
		left: -10px;
	}

	.additional__menu_slider_container > .slick-arrow.slick-next{
		background: url(../images/icon/arrow__black_next.svg) center center / 90% no-repeat;
		width: 30px;
		height: 60px;
		right: -10px;
	}

	.footer__menu{
		display: none;
	}

	.footer__menu__hidden{
		opacity: 1;
		display: block;
	}
}

@media (max-width: 768px) {
	.header__menu__container{
		top: 84%;
	}

	.content__text__container{
		margin-bottom: 10px;
	}

	.additional__menu{
		height: 200px;
		margin-bottom: 30px;
	}

	.additional__menu-title{
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 25px;
	}

	.additional__menu_slider_container > .slick-arrow.slick-prev{
		width: 20px;
		height: 30px;	
	}

	.additional__menu_slider_container > .slick-arrow.slick-next{
		width: 20px;
		height: 30px;
	}
	
	.footer__container{
		flex-direction: column;
		height: 200px;
	}
}

@media (max-width: 425px) {
	.header__menu__container{
		width: 207px;
		top: 82%;
	}

	.header__menu-link{
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.05em;
	}

	.content__text__title{
		font-size: 16px;
		line-height: 136.68%;
		padding-bottom: 10px;
	}

	.content__text__caption{
		font-size: 12px;
		line-height: 145%;
		padding-bottom: 10px;
	}

	.content__text__link{
		font-size: 16px;
		line-height: 19px;
	}

	.content__text__link::after{
		transform: translateY(-50%);
		width: 12px;
		height: 12px;
	}

	.content__text__container{
		margin-bottom: 20px;
	}

	.technologies__title{
		font-size: 16px;
		line-height: 136.68%;
	}

	.technologies__cards{
		padding: 0 15px;
	}

	.technologies__card{
		width: 130px;
		min-height: 200px;
		padding-bottom: 40px;
	}

	.technologies__card-text{
		font-size: 10px;
		line-height: 140.62%;
		width: 100%;
	}

	.additional__menu{
		height: 150px;
		margin-bottom: 20px;
	}

	.additional__menu-title{
		font-size: 12px;
		line-height: 136%;
		letter-spacing: .03em;
	}

	.footer__container{
		height: 170px;
	}

	.footer__menu-items{
		width: 250px;
	}

	.footer__menu-link{
		font-size: 16px;
		line-height: 18px;
		letter-spacing: 0.05em;
	}

	.footer__logo{
		text-align: center;
	}

	.footer__logo-img{
		width: 80%;
		margin: 0 auto;
	}
}



